* {
    box-sizing: border-box;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}


.row {
    width: 100%;
    justify-content: center;
}

.container-fluid {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    height: 510px;
    min-width: 300px;
    max-width: 300px;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    transform: scale(1.05);
}

#facilities {
    position: absolute;
    top: 90px;
}

.card-group {
    min-width: 100%;
    margin-top: 30px;
}


.card-img-top {
    height: 250px;
    width: 100%;
    object-fit: cover;
    
}

.card-title {
    font-weight: 600;
    text-align: center;
}

.card-text {
    color: #717171;
}


.disabled {
    filter: grayscale(100%);
    opacity: 0.5;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #153f51; /* change color as per your requirement */
    animation: arrowUpDown 1s ease-in-out infinite alternate;
  }
  
  .top-text {
      display: flex;
      justify-content: space-around;
      color: #153f51;
      padding: 20px;
    }
    
    .mat-form-field {
        width: 100%;
    }
    
    
    @keyframes arrowUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}
  

@media (max-width: 768px) {
    .container-fluid {
        margin-top: 0;
    }
    
    .card {
        padding-bottom: 30px;
    }

    .top-text {
        display: none;
      }
    .card-group {
        margin-top: 80px;
    }
}


@media (max-width: 910px) {
    .col-md-8 {
        flex: 0 0 auto;
        width: 90%;
    }
}